.DS_Store
.gitignore
node_modules
public
!/content/public/
!/content/public/**
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
content/private/
content/drafts/
.replit
replit.nix
.quartz/*
!.quartz/plugins/
.quartz/plugins/*
!.quartz/plugins/index.ts
quartz/cli/tui/dist/
LOCAL_MAINTENANCE.md
